---
import type { GetStaticPaths, MarkdownInstance } from "astro";
import { getCollection } from "astro:content";
import slugify from "@/utils/slugify";
import ArchiveItem from "~/ArchiveItem.astro";

interface Frontmatter {
  category: string;
  subcategory: string;
}

export const getStaticPaths = (async () => {
  const archives = await getCollection("archive", ({ data }) => data.subcategory);
  return archives.map(item => ({
    params: { category: slugify(item.data.category), subcategory: slugify(item.data.subcategory) },
    props: { item },
  }));
}) satisfies GetStaticPaths;

const { item } = Astro.props;
const archives = await getCollection("archive");
const subcategories = [...new Set(archives.filter(({ data }) => data.category === item.data.category).map(({ data }) => data.subcategory))];
const notes = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("/data/notes/*.md", { eager: true }));

export const partial = true;
---
<nav class="tab-list" id="archive-subcategories-nav" role="tablist">
  {subcategories.map(subcategory => (
    <button 
      hx-get={`/archive/category/${slugify(item.data.category)}/${slugify(subcategory)}`} 
      role="tab" 
      aria-selected={subcategory == item.data.subcategory}
      aria-controls="archive-subcategories"
    >
      {subcategory}
    </button>
  ))}
</nav>

<section id="archive-subcategories" class="tab-content full-bleed" role="tabpanel">
  {notes.filter(note => note.frontmatter.category == item.data.category && note.frontmatter.subcategory == item.data.subcategory).map(note => (
    <note.Content />
  ))}

  <h3 class="title">{item.data.subcategory}</h3>
  {archives.filter(({ data }) => data.category == item.data.category && data.subcategory == item.data.subcategory).map(item => (
    <ArchiveItem
      title={item.data.title}
      url={item.data.url}
      author={item.data.author}
      stats={item.data.stats}
      level={item.data.level}
      compat={item.data.compat}
    >
      <Fragment set:html={item.rendered?.html} />
    </ArchiveItem>
  ))}
</section>