---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import categories from "@/metadata/categories";
import { getSubcategories } from "@/metadata/subcategories";
import slugify from "@/utils/slugify";
import Paginated from "@/layouts/Paginated.astro";
import SubMenu from "~/SubMenu.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const archives = await getCollection("archive");
  return categories.flatMap(category => {
    const filteredCategories = archives.filter(({ data }) => data.category === category);
    return paginate(filteredCategories, {
      params: { category: slugify(category) },
      pageSize: 20,
    });
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const category = page.data.flatMap(({ data }) => data.category)[0];
---
<Paginated {page}>
  <SubMenu slot="sub-navigation-root" {page} label="All Category Navigation" data={categories} />
  <h1 slot="title">Category: {category}</h1>
  <SubMenu slot="sub-navigation" {page} label="Subcategory Navigation" data={getSubcategories(category)} />
</Paginated>